<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd">
        <div class="swiper-container no-slider featured animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img class="full-image" src="assets/images/GettyImages-1215892406.jpg" />

                    <!-- 
                            Suggestion: Add a video to your assets folder and configure it here.

                            <video type="video/mp4" class="full-image" data-mask="0" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                        -->

                    <div class="slide-content row" data-mask-768="50">
                        <div class="col-12 d-flex inner">
                            <div class="left align-self-center text-center text-md-left">
                                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">TO BE
                                    SILENT
                                    <br>IS TO BE COMPLICIT
                                </h1>
                                <a href="#contact" data-aos="zoom-out-up" data-aos-delay="800"
                                    class="smooth-anchor ml-auto mr-auto ml-md-0 mt-4 btn primary-button"><i
                                        class="icon-cup"></i>GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- Get -->
    <section id="get" class="section-1 hero p-0">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/featured-1.jpg"
                        class="hero-image-left" alt="Facemask covid">

                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex justify-content-end inner">
                            <div class="right text-center text-md-right">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    COVID-19
                                    RESOURCES</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto">My Teacher
                                    Wears a Mask – This storybook helps children understand that masks are safe and not
                                    scary and prepares them to see their teacher (or other adults) wearing a mask.<br>
                                    Download and print your own copy for FREE or enjoy the digital Flipbook version
                                    online.
                                <ul style="list-style-type:none;">
                                    <li><a data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor"
                                            href="https://thefamilymap.azurewebsites.net/Content/pdf/My-Teacher-Wears-a-Mask.pdf"
                                            target="_blank">My Teacher Wears A Mask (Short Story) – This is a printable
                                            .pdf link.</a></li>
                                    <li><a data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor"
                                            href="https://flipbookpdf.net/web/site/d9c6fba2af53a5f89207e67515c7577870df38c5202006.pdf.html"
                                            target="_blank">My Teacher Wears A Mask (Online Booklet).</a></li>
                                    <li><a data-aos="zoom-out-up" data-aos-delay="1200" class="smooth-anchor"
                                            href="https://www.facebook.com/curriculaconcepts/videos/919293261828215/"
                                            target="_blank">My Teacher Wears A Mask - A Social Story by Nikki Edge</a>
                                    </li>
                                </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Get -->
    <section id="get-2" class="section-2 hero p-0">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/featured-2.jpg"
                        class="hero-image" alt="Hero Image">
                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex inner">
                            <div class="left align-self-center text-center text-md-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    How It Works</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800">We train your staff on the most
                                    up-to-date research on risk and protective factors in
                                    families.</p>
                                <p data-aos="zoom-out-up" data-aos-delay="800">Then, we give step-by-step instruction
                                    and practice using The Family Map interviews
                                    and help you implement interviews. Use them at yearly home visits, at parent-teacher
                                    conferences, or at enrollment. <br><strong>The result is better family
                                        partnership.</strong></p>
                                <h4 data-aos="zoom-out-up" data-aos-delay="800" class="text-dark">Educators trained in
                                    The Family Map</h4>
                                <ul data-aos="zoom-out-up" data-aos-delay="800">
                                    <li>Learn about each family’s strengths and needs.</li>
                                    <li>Determine the services or resources that will be most helpful to each family.
                                    </li>
                                    <li>Individualize support for children in the classroom or visitation setting.</li>
                                    <li>Have a framework for ongoing assessment and progress documentation.</li>
                                </ul>
                                <h4 data-aos="zoom-out-up" data-aos-delay="800" class="text-dark">Educators say The
                                    Family Map</h4>
                                <ul data-aos="zoom-out-up" data-aos-delay="800">
                                    <li>Makes parents feel closer to teachers.</li>
                                    <li>Cuts down on other agency paperwork.</li>
                                    <li>Helps teachers make important changes to their classrooms.</li>
                                </ul>
                                <div class="d-sm-inline-flex mt-3">
                                    <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200"
                                        class="smooth-anchor ml-auto mr-auto mr-md-0 mt-4 mt-sm-0 btn primary-button">GET
                                        IN TOUCH</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- About [video] -->
    <section id="video" class="section-3 highlights image-center">
        <div class="container smaller">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2 class="mb-0 super effect-static-text">Instructions</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 gallery">
                    <a href="https://www.youtube.com/watch?v=EJIAWOhcZFY"
                        class="square-image d-flex justify-content-center align-items-center">
                        <i class="icon bigger icon-control-play"></i>
                        <img src="assets/images/news-4.jpg" class="fit-image" alt="Fit Image">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section id="team" class="section-4 carousel">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2 class="mb-0 super effect-static-text">Team of Experts</h2>
                    </div>
                </div>
                <div class="swiper-container mid-slider-simple items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-1.jpg" alt="Leanne Whiteside-Mansell" class="person">
                                    <h4>Leanne <br> Whiteside-Mansell</h4>
                                    <p>
                                        Leanne Whiteside-Mansell, Ed.D. is a Professor in the Department of Family and
                                        Preventive Medicine and is the developer of the Family Map Inventories
                                    </p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-2.jpg" alt="Robert H. Bradley" class="person">
                                    <h4>Robert H. Bradley</h4>
                                    <p>Robert H. Bradley, Ph.D. is Director of the Family & Human Dynamics Research
                                        Institute and Professor of Psychology and the School of Social and Family
                                        Dynamics at Arizona State University.</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow" class="person">
                                    <h4>Nicola<br>Conners-Burrow</h4>
                                    <p>is an Associate Professor of Family & Preventative Medicine at the University of
                                        Arkansas for Medical Sciences. With a background in educational psychology and
                                        research</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey" class="person">
                                    <h4>Lorraine McKelvey</h4>
                                    <p>Lorraine McKelvey, Ph.D., is an Assistant Professor of Family & Preventative
                                        Medicine at UAMS. Her background is in developmental psychology, with experience
                                        in program evaluation research.</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-5.jpg" alt="Patti Bokony" class="person">
                                    <h4>Patti Bokony</h4>
                                    <br>
                                    <p>is an assistant research professor in the Department of Family and Preventive
                                        Medicine at the University of Arkansas for Medical Sciences.</p>
                                    <br>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel -->
    <section id="carousel" class="section-5 carousel showcase">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2 class="mb-0 super effect-static-text">Out Latest News</h2>
                    </div>
                </div>
                <div class="swiper-container mid-slider items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-4.jpg" class="image-over">
                                        <img src="assets/images/work-4.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-5.jpg" class="image-over">
                                        <img src="assets/images/work-5.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-6.jpg" class="image-over">
                                        <img src="assets/images/work-6.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-7.jpg" class="image-over">
                                        <img src="assets/images/work-7.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-8.jpg" class="image-over">
                                        <img src="assets/images/work-8.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-9.jpg" class="image-over">
                                        <img src="assets/images/work-9.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="section-6 form">
        <div class="container smaller">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2 class="mb-0 super effect-static-text">Let's Talk?</h2>
                </div>
            </div>
            <form action="php/form.php" id="leverage-simple-form" class="leverage-simple-form">
                <input type="hidden" name="section" value="leverage_form">

                <input type="hidden" name="reCAPTCHA">
                <!-- Remove this field if you want to disable recaptcha -->

                <div class="row form-group-margin">
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="text" name="name" class="form-control field-name" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="email" name="email" class="form-control field-email" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="text" name="phone" class="form-control field-phone" placeholder="Phone">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <i class="icon-arrow-down mr-3"></i>
                        <select name="budget" class="form-control field-budget">
                            <option value="" selected disabled>What is this about?</option>
                            <option>lorem</option>
                            <option>lorem</option>
                            <option>lorem</option>
                            <option>lorem</option>
                        </select>
                    </div>
                    <div class="col-12 m-0 p-2 input-group">
                        <textarea name="message" class="form-control field-message" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 col-12 m-0 pl-md-2">
                        <span class="form-alert"></span>
                    </div>
                    <div class="col-12 input-group m-0 p-2">
                        <a class="btn primary-button">SEND</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <%- include('footer'); %>