<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd">
        <div class="swiper-container no-slider featured animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img class="full-image" src="assets/images/GettyImages-1215892406.jpg" />

                    <!-- 
                            Suggestion: Add a video to your assets folder and configure it here.

                            <video type="video/mp4" class="full-image" data-mask="0" src="assets/videos/yourvideo.mp4" autoplay muted loop></video> 
                        -->

                    <div class="slide-content row" data-mask-768="50">
                        <div class="col-12 d-flex inner">
                            <div class="left align-self-center text-center text-md-left">
                                <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">TO BE
                                    SILENT
                                    <br>IS TO BE COMPLICIT
                                </h1>
                                <a href="#contact" data-aos="zoom-out-up" data-aos-delay="800"
                                    class="smooth-anchor ml-auto mr-auto ml-md-0 mt-4 btn primary-button"><i
                                        class="icon-cup"></i>GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- Get -->
    <section id="get" class="section-1 hero p-0">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/2.png" class="hero-image-left"
                        alt="Facemask covid">

                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex justify-content-end inner">
                            <div class="right text-center text-md-right">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    How does the Family Map<br>
                                    benefit early childhood programs?</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto"
                                    style="font-size: 16px;">The Family
                                    Map provides a systematic way to identify strengths within the home, reveal
                                    addressable needs that impact a child’s health and educational outcomes, and screen
                                    for potential trauma in the child and family’s life. This interview tool builds a
                                    foundation of trust and mutual helpfulness to accelerate the educator-parent
                                    partnership working together to benefit the child.

                                </p>
                                <p data-aos="zoom-out-up" style="font-size: 16px;" data-aos-delay="800"
                                    class="description ml-auto">When you know
                                    the family’s strengths and potential risk factors by asking the right
                                    questions, you can engage the right resources to benefit the child and family. The
                                    Family Map Inventory focuses on the family as a whole by looking at 12 areas that we
                                    know to be most impactful to child growth and development. The interactive,
                                    electronic interview system provides you with the appropriate questions backed by
                                    research to reveal key data. The system then provides immediate feedback with
                                    individualized child & family reporting which can be used to offer targeted
                                    resources with the aid of the integrated goal setting documentation. Agency level
                                    reporting on family strengths, adverse childhood experiences and potential trauma
                                    exposure are useful for programmatic planning and monitoring.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Get -->
    <section id="get-2" class="section-2 hero p-0 m-4">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">
                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/4.png" class="hero-image mb-5"
                        alt="Hero Image">
                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex inner">
                            <div class="left align-self-center text-center text-md-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    An effective tool for family engagement and monitoring child outcomes</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800">Many of our clients find that the Family
                                    Map replaces 2-3 other assessments or processes that they were using to learn a
                                    child’s family & home background. The Inventory is thorough, and research proven to
                                    deliver valid results that are useful in your family engagement. The interview can
                                    be done at enrollment, home visits, and/or parent-teacher conferences. Most programs
                                    repeat the interview every 6-9 months. Family strengths and risks are clearly
                                    identified based on a parent’s response. You can discuss these strengths and risks
                                    at the conclusion. Together, you and the parent can determine whether to set goals
                                    to address risks.</p>
                                <p data-aos="zoom-out-up" data-aos-delay="800">Robust reporting allows you to see the
                                    family’s progress by comparing two interviews and giving an “at-a-glance” indicator
                                    of a family’s strength or risk in key factors. Beyond measuring strengths and needs
                                    within a family, the Inventory includes a goal setting template called the
                                    Family-Partnership Agreement that allows you to track progress as you continue to
                                    work with the child’s primary caregiver. You can also send short, research-based
                                    parenting tips along with other resource information that support the parent’s goals
                                    directly from the Family Partnership Agreement to the parent by email or text
                                    message.</p>
                                <div class="d-sm-inline-flex mt-3">
                                    <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200"
                                        class="smooth-anchor ml-auto mr-auto mr-md-0 mt-4 mt-sm-0 btn primary-button">Schedule
                                        a demonstration with one of our consultants!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section id="get-3" class="section-1 hero p-0">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/6.jpg" class="hero-image-left"
                        alt="Facemask covid">

                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex justify-content-end inner">
                            <div class="right text-center text-md-right">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    How does the Family Map<br>
                                    benefit early childhood programs?</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800" class="description ml-auto"
                                    style="font-size: 16px;">The Family Map is research proven and provides you key data
                                    to use in planning programs. Our newest work shows that the Family Map can be used
                                    to screen preschool children for Adverse Childhood Experiences. This tool was
                                    developed in close collaboration with families, classroom educators, home visitors,
                                    administrators, and other staff working with families of young children. The
                                    development process included an extensive literature review, the identification and
                                    evaluation of existing screening tools/items, and a cyclical process of
                                    field-testing new items, revising, and repeating field testing. We have been in use
                                    by early childhood programs for more than 10 years.
                                </p>
                                <p data-aos="zoom-out-up" style="font-size: 16px;" data-aos-delay="800"
                                    class="description ml-auto">Building partnerships is the foundation of building
                                    successful family engagement within your program. Here’s an example of one agencies
                                    success: using the assessment with our families has provided us with the opportunity
                                    to start conversations early about where families are and provide targeted resources
                                    on more of an individual basis as they enter the program instead of waiting until
                                    several months into enrollment.</p>
                                <p data-aos="zoom-out-up" style="font-size: 16px;" data-aos-delay="800"
                                    class="description ml-auto">We have been able to use the data gathered at a program
                                    level to improve things like screen time at home, providing resources on benefits of
                                    routines to families and providing resources on school readiness for families with
                                    children entering kindergarten in the near future.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section id="get-4" class="section-2 hero p-0 m-4">
        <div class="swiper-container no-slider animation slider-h-100">
            <div class="swiper-wrapper">
                <!-- Item 1 -->
                <div class="swiper-slide slide-center">
                    <img data-aos="zoom-out-up" data-aos-delay="800" src="assets/images/7.jpg" class="hero-image mb-5"
                        alt="Hero Image">
                    <div class="slide-content row" data-mask-768="80">
                        <div class="col-12 d-flex inner">
                            <div class="left align-self-center text-center text-md-left">
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    Educators say The Family Map</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800">
                                <ul>
                                    <li>Makes parents feel closer to teachers.</li>
                                    <li>Cuts down on other agency paperwork.</li>
                                    <li>Helps teachers make important changes to their classrooms.</li>
                                </ul>
                                </p>
                                <h2 data-aos="zoom-out-up" data-aos-delay="400" class="mb-0 super effect-static-text">
                                    COVID-19 Resource</h2>
                                <p data-aos="zoom-out-up" data-aos-delay="800">
                                    <a href="https://drive.google.com/file/d/1qErZL8MNflj-wdnalBhtj1j3wWlpCoGa/view?usp=sharing"
                                        class="nav-link" target="_blank">FILE: MY TEACHERS WEARS A MASK</a>
                                </p>
                                <div class="d-sm-inline-flex mt-3">
                                    <a href="#contact" data-aos="zoom-out-up" data-aos-delay="1200"
                                        class="smooth-anchor ml-auto mr-auto mr-md-0 mt-4 mt-sm-0 btn primary-button">Schedule
                                        a demonstration with one of our consultants!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- About [video] -->
    <section id="video" class="section-3 highlights image-center">
        <div class="container smaller">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2 class="mb-0 super effect-static-text">Instructions</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 gallery">
                    <a href="https://www.youtube.com/watch?v=EJIAWOhcZFY"
                        class="square-image d-flex justify-content-center align-items-center">
                        <i class="icon bigger icon-control-play"></i>
                        <img src="assets/images/news-4.jpg" class="fit-image" alt="Fit Image">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Team -->
    <section id="team" class="section-4 carousel">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2 class="mb-0 super effect-static-text">Team of Experts</h2>
                    </div>
                </div>
                <div class="swiper-container mid-slider-simple items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-1.jpg" alt="Leanne Whiteside-Mansell" class="person">
                                    <h4>Leanne <br> Whiteside-Mansell</h4>
                                    <p>Leanne Whiteside-Mansell, Ed.D. is a Professor in the Department of Family and Preventive Medicine and is the developer of the Family Map Inventories
                                    </p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-2.jpg" alt="Robert H. Bradley" class="person">
                                    <h4>Robert H. Bradley</h4>
                                    <p>Robert H. Bradley, Ph.D. is Director of the Family & Human Dynamics ResearchInstitute and Professor of Psychology and the School of Social and Family Dynamics at Arizona State University.</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-3.jpg" alt="Nicola Conners-Burrow" class="person">
                                    <h4>Nicola<br>Conners-Burrow</h4>
                                    <p>is an Associate Professor of Family & Preventative Medicine at the University of Arkansas for Medical Sciences. With a background in educational psychology and research</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-4.jpg" alt="Lorraine McKelvey" class="person">
                                    <h4>Lorraine McKelvey</h4>
                                    <p>Lorraine McKelvey, Ph.D., is an Assistant Professor of Family & Preventative
                                        Medicine at UAMS. Her background is in developmental psychology, with experience
                                        in program evaluation research.</p>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center text-center item">
                            <div class="row card">
                                <div class="col-12">
                                    <img src="assets/images/team-5.jpg" alt="Patti Bokony" class="person">
                                    <h4>Patti Bokony</h4>
                                    <br>
                                    <p>is an assistant research professor in the Department of Family and Preventive Medicine at the University of Arkansas for Medical Sciences.</p>
                                    <br>
                                    <ul class="navbar-nav social share-list ml-auto">
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-instagram"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-facebook"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-linkedin"></i></a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link"><i class="icon-social-twitter"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Carousel -->
    <section id="carousel" class="section-5 carousel showcase">
        <div class="overflow-holder">
            <div class="container">
                <div class="row text-center intro">
                    <div class="col-12">
                        <h2 class="mb-0 super effect-static-text">Out Latest News</h2>
                    </div>
                </div>
                <div class="swiper-container mid-slider items">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-4.jpg" class="image-over">
                                        <img src="assets/images/work-4.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-5.jpg" class="image-over">
                                        <img src="assets/images/work-5.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-6.jpg" class="image-over">
                                        <img src="assets/images/work-6.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-7.jpg" class="image-over">
                                        <img src="assets/images/work-7.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-8.jpg" class="image-over">
                                        <img src="assets/images/work-8.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide slide-center item">
                            <div class="row card p-0 text-center">
                                <div class="gallery">
                                    <a href="assets/images/work-9.jpg" class="image-over">
                                        <img src="assets/images/work-9.jpg" alt="Lorem ipsum">
                                    </a>
                                </div>
                                <div class="card-caption col-12 p-0">
                                    <div class="card-body">
                                        <h4 class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h4>
                                    </div>
                                    <div class="card-footer d-lg-flex align-items-center justify-content-center">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="section-6 form">
        <div class="container smaller">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2 class="mb-0 super effect-static-text">Let's Talk?</h2>
                </div>
            </div>
            <form action="php/form.php" id="leverage-simple-form" class="leverage-simple-form">
                <input type="hidden" name="section" value="leverage_form">

                <input type="hidden" name="reCAPTCHA">
                <!-- Remove this field if you want to disable recaptcha -->

                <div class="row form-group-margin">
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="text" name="name" class="form-control field-name" placeholder="Name">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="email" name="email" class="form-control field-email" placeholder="Email">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <input type="text" name="phone" class="form-control field-phone" placeholder="Phone">
                    </div>
                    <div class="col-12 col-md-6 m-0 p-2 input-group">
                        <i class="icon-arrow-down mr-3"></i>
                        <select name="budget" class="form-control field-budget">
                            <option value="" selected disabled>What is this about?</option>
                            <option>lorem</option>
                            <option>lorem</option>
                            <option>lorem</option>
                            <option>lorem</option>
                        </select>
                    </div>
                    <div class="col-12 m-0 p-2 input-group">
                        <textarea name="message" class="form-control field-message" placeholder="Message"></textarea>
                    </div>
                    <div class="col-12 col-12 m-0 pl-md-2">
                        <span class="form-alert"></span>
                    </div>
                    <div class="col-12 input-group m-0 p-2">
                        <a class="btn primary-button">SEND</a>
                    </div>
                </div>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <%- include('footer'); %>
