<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="assets/images/GettyImages-1092432244.jpg" class="full-image" data-mask="70">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Resources
                            </h1>
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Resources</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <section id="content" class="section-1 single">
        <div class="container">
            <div class="row">
                <!-- Main -->
                <main class="col-12 p-0">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">Research Article Categories &amp;
                                Associated Articles</h2>
                        </div>
                        <div></div>
                        <ul style="list-style-type:none;">
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#downloadable" role="button"
                                            aria-expanded="false" aria-controls="downloadable">
                                            <h4>
                                                Downloadable Resources
                                            </h4>
                                        </a>
                                        <div class="collapse" id="downloadable">
                                            <ul>
                                                <li>
                                                    <a href="https://drive.google.com/file/d/1-DHgIBSc_kNmPdAOt5qN1mkXdajwsoib/view?usp=sharing"
                                                        class="nav-link">
                                                        The Family Map and Headstart
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center flex-row">
                                        <a data-toggle="collapse" href="#reliability" role="button"
                                            aria-expanded="false" aria-controls="reliability">
                                            <h4>
                                                Reliability & Validity
                                            </h4>
                                        </a>
                                        <div class="collapse" id="reliability">
                                            <ul>
                                                <li>
                                                    <p class="h6">
                                                        Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey,
                                                        L.,
                                                        Burrow, N., & Swindle, T. (2013). Using the Family Map:
                                                        Supporting
                                                        Family Engagement with Parents of Infants and Toddlers.
                                                        Special
                                                        Issue on Parent Involvement and Engagement in Head Start for
                                                        Dialog:
                                                        The Research-to-Practice Journal for the Early Childhood
                                                        Field,
                                                        16
                                                        (1), 20-44 <a
                                                            href="https://journals.uncc.edu/dialog/article/view/42/100">Link</a>.
                                                    </p>
                                                    <p class="ml-3">This study reports on the development of the Family
                                                        Map Inventory
                                                        of the Parenting Environment of Infants and Toddlers (IT-FM) by
                                                        summarizing the development process and the implementation of
                                                        the IT-FM in a rural Early Head Start (EHS) program. Reliability
                                                        and validity was examined by questions and risk indicators as
                                                        used by teachers. Internal consistency estimates were computed
                                                        for seven sets of questions. These were supportive of adequate
                                                        reliability with values generally high. Data from the Family Map
                                                        Inventory on risk factors was also compared to available
                                                        national estimates and found to be largely consistent.
                                                        Independent assessments were conducted to evaluate validity of
                                                        some constructs.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">Swindle, T. Whiteside-Mansell, L., McKelvey, L.
                                                        (2012). Food
                                                        Insecurity: Validation of a two-item screen using convergent
                                                        risks. Journal of Child and Family Studies. 22 (7), 932-941.
                                                        doi:10.1007/s10826-012-9652-7</p>
                                                    <p class="ml-3">The purpose of this study is to provide validity for
                                                        the use of a
                                                        2-item screen, the Family Map Inventory, for food insecurity
                                                        that can be integrated into early childcare settings.
                                                        Concurrence with a wide range of convergent validity indicators
                                                        suggests that 2 items can sufficiently identify families with
                                                        food insecurity. Sensitivity and specificity analyses also
                                                        support the use of this screen. This study is the first to
                                                        document the utility of a brief screen for food insecurity by
                                                        childcare providers. With an efficient screen, these front-line
                                                        service providers can be a valuable resource to identify and
                                                        combat FI and its deleterious effects on children.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">Bokony, P.A., Conners-Burrow, N.A., Johnson, D.,
                                                        Whiteside-Mansell, L., McKelvey, L., & Bradley, R.H. (2010). The
                                                        Family Map: A tool for understanding the risks for children in
                                                        families with substance abuse. NHSA Dialog: A
                                                        Research-to-Practice Journal for the Early Intervention Field.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">Conners-Burrow, N.A , Johnson, D.,
                                                        Whiteside-Mansell, L, McKelvey, L., Bokony, P. A., & Bradley, R.
                                                        H. (2010). Protecting Young Children: Identifying Family
                                                        Substance Use and Risks in the Home. NHSA Dialog: A
                                                        Research-to-Practice Journal for the Early Intervention Field,
                                                        13, 192-197.</p>
                                                    <p class="ml-3">These studies examine the usefulness of the Family
                                                        Map Inventory implemented in a Head Start home visit and
                                                        compares families who screened positive for substance abuse with
                                                        those who did not on an array of child and family indicators
                                                        important for healthy child development. Children identified as
                                                        having a positive screen for family problems with alcohol and
                                                        other drugs were more likely to be at risk on 10 of 11
                                                        additional areas assessed. </p>
                                                </li>
                                                <li>
                                                    <p class="h6">Conners-Burrow, N.A., Fussell, J., Johnson, D.L.,
                                                        McKelvey, L., Whiteside-Mansell, L., Bokony, P., Kraleti, S.
                                                        (2013) Maternal Low and High Depressive Symptoms and Safety
                                                        Concerns for Low Income Preschool Children. Clinical Pediatrics,
                                                        52, 171-177.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">The objective of this study was to examine the
                                                        relationship between low and high level depressive symptoms in
                                                        mothers and children’s risks in the areas of home and car
                                                        safety, monitoring and exposure to violence. Participants were
                                                        interviewed using The Family Map. Children whose mothers
                                                        experience even low levels of depressive symptoms are at
                                                        increased risk for safety problems in the home environment.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">Swindle, T., Ward, W. L., Whiteside-Mansell, L.,
                                                        Brathwaite, J., Bokony, P.A., Conners-Burrow, N, & McKelvey,
                                                        L.M. (2014). Pediatric nutrition: Parenting impacts beyond
                                                        financial resources. Clinical Pediatrics, 53, 793-795. doi
                                                        10.1177/0009922813505904.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">Ward, W. L., Swindle, T., Kyzer, A.,
                                                        Whiteside-Mansell, L. (2014). Low Fruit/Vegetable Consumption in
                                                        the Home: Cumulative Risk Factors in Early Childhood. Early
                                                        Childhood Education Journal. Advance online publication. doi:
                                                        10.1007/s10643-014-0661-6</p>
                                                    <p class="ml-3">These studies examine the validity of the
                                                        identification of food quality as assessed on the Family Map.
                                                        Maternal depression has recently been identified as a concern in
                                                        the etiology of childhood obesity, these studies explore the
                                                        relationship between maternal depression and childhood obesity
                                                        by investigating nutritional food quality and food insecurity in
                                                        an early childhood population. Maternal depression is strongly
                                                        related to food quality as well as food insecurity.</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#adverse" role="button" aria-expanded="false"
                                            aria-controls="adverse">
                                            <h4>
                                                Adverse Childhood Experiences
                                            </h4>
                                        </a>
                                        <div class="collapse" id="adverse">
                                            <ul>
                                                <li>
                                                    <p class="h6">
                                                        Whiteside-Mansell, L.; McKelvey, L.; Saccente, J.; Selig, J.P.
                                                        Adverse Childhood Experiences of Urban and Rural Preschool
                                                        Children in Poverty. Int. J. Environ. Res. Public Health 2019,
                                                        16, 2623.
                                                    </p>
                                                    <p class="ml-3">Adverse childhood experiences (ACEs) have long-term
                                                        health
                                                        consequences. Young children in the southern part of the United
                                                        States (US) are at greater risk than children in other parts of
                                                        the US. This study assessed preschool children ACEs using a
                                                        family-friendly tool, the Family Map (FMI), and compared
                                                        children living in rural/urban areas while examining the
                                                        potential moderation of race. Findings from this study suggest
                                                        that targeting the most at-risk children for interventions
                                                        should consider the context including race and location.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">McKelvey, L. M., Conners Edge, N.A., Fitzgerald, S.,
                                                        Kraleti, S., & Whiteside-Mansell, L., (2017, December). Adverse
                                                        Childhood Experiences: Screening and Health in Children from
                                                        Birth to Age Five. Families, Systems, and Health, 35 (4),
                                                        420-429. DOI: 10.1037/fsh0000301</p>
                                                    <p class="ml-3">Adverse childhood experiences (ACEs) have lifetime
                                                        consequences for health and development. This study examined
                                                        whether there is evidence to support a screening approach that
                                                        assesses children’s current exposures to risks that act as
                                                        proxies for ACEs, measured in a way that falls below a threshold
                                                        of explicit abuse, neglect, or illegal behavior. Findings
                                                        highlight the potential use of questionnaires and in-home
                                                        observations to measure and intervene in potentially developing
                                                        ACEs. Further, our screening was associated with children whose
                                                        health was at risk very early in development.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">McKelvey, L., Whiteside-Mansell, L., Conners-Burrow,
                                                        N. A., Swindle, T., Fitzgerald, S. (2016). Assessing Adverse
                                                        Experiences from Infancy through Early Childhood in Home
                                                        Visiting Programs. Child Abuse & Neglect.</p>
                                                    <p class="ml-3">The purpose of this study was to examine the
                                                        feasibility and usefulness of a modified version of a universal
                                                        screening tool, used a modified version of the Family Map
                                                        Inventory, called the FMI-ACE, to develop an assessment of
                                                        children’s exposure to ACEs and to examine concurrently measured
                                                        parental child abuse and neglect potential and child
                                                        social–emotional functioning. children with 4 or more FMI-ACEs
                                                        were over 6 times more likely than those with none to have at
                                                        risk scores in social-emotional development. The findings add to
                                                        our understanding of the negative impact of trauma on children
                                                        and families. Assessing these risks as they occur in a
                                                        family-friendly manner provides a platform for home visiting
                                                        programs to work with families to increase family strengths and
                                                        reduce adverse experiences.
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#family-engagement" role="button"
                                            aria-expanded="false" aria-controls="family-engagement">
                                            <h4>
                                                Family Engagement
                                            </h4>
                                        </a>
                                        <div class="collapse" id="family-engagement">
                                            <ul>
                                                <li>
                                                    <p class="h6">McKelvey, L.M., Bokony, P., Johnson, D.,
                                                        Whiteside-Mansell, L.,
                                                        Burrow, N., & Swindle, T. (2013). Family Engagement:
                                                        Establishing a System to Support the Parent-Teacher Partnership.
                                                        The Special Issue on Parent Involvement/Engagement in Early
                                                        Childhood Education for NHSA Dialog: A Research-to-Practice
                                                        Journal for the Early Intervention Field, 16 (1), 171-175.
                                                        <a href="https://journals.uncc.edu/dialog/article/view/50/105"
                                                            target="_blank">Link</a>
                                                    </p>

                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Bokony, P.A., Whiteside-Mansell, L., Swindle, T., &amp; Waliski,
                                                        A.D.
                                                        (2013).  Increasing
                                                        parent-teacher communication in private preschools serving
                                                        low-income
                                                        families.  The
                                                        Special Issue on Parent Involvement and Engagement in Head Start
                                                        for
                                                        Dialog:
                                                        The
                                                        Research-to-Practice Journal for the Early Childhood Field, 16
                                                        (1),
                                                        45-64.
                                                        <a
                                                            href="https://journals.uncc.edu/dialog/article/view/43">Link</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Bokony, P.A., Whiteside-Mansell, L., &amp; Swindle, T.  (2013). 
                                                        Family
                                                        Map
                                                        Inventory and
                                                        TIPS for Great Kids!: Tools for increasing parent-teacher
                                                        communication. 
                                                        The Special
                                                        Issue on Parent Involvement and Engagement in Head Start for
                                                        Dialog:
                                                        The
                                                        Research-to-
                                                        Practice Journal for the Early Childhood Field, 16 (1), 183-188.
                                                        <a
                                                            href="https://journals.uncc.edu/dialog/article/view/51/119">Link</a>
                                                    </p>
                                                    <p class="ml-3">
                                                        Parent-teacher communication is a first step in increasing
                                                        family engagement. These studies tested the impact of a
                                                        two-pronged intervention, the Family Map Inventory for Early
                                                        Childhood (Family Map; family assessment) and Teaching Important
                                                        Parenting Skills (TIPS; brief parenting interventions on broad
                                                        array of topics), on parent-teacher communication in private
                                                        childcare centers serving low-income families. Results
                                                        indicated: 1) teachers were willing to implement the FMI/TIPS
                                                        intervention in private childcare settings and 2) parents and
                                                        teachers in the intervention group reported higher levels of
                                                        parent-teacher communication than those in the comparison group.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey, L.,
                                                        Burrow,
                                                        N.,
                                                        &amp; Swindle, T.
                                                        (2013).  Using the Family Map: Supporting Family Engagement with
                                                        Parents
                                                        of
                                                        Infants

                                                        and Toddlers.  Special Issue on Parent Involvement and
                                                        Engagement in
                                                        Head
                                                        Start for
                                                        Dialog: The Research-to-Practice Journal for the Early Childhood
                                                        Field,
                                                        16
                                                        (1), 20-44. <a
                                                            href="https://journals.uncc.edu/dialog/article/view/42/100.">Link</a>
                                                    </p>
                                                    <p class="ml-3">Engaging families of preschool children in
                                                        partnerships with early childcare providers includes, among
                                                        other activities, engaging in meaningful conversation, linking
                                                        parents to needed services, and supporting parents as the
                                                        capitalize on family protective factors. This study provides
                                                        evidence of the feasibility of implementation of the Family Map,
                                                        the reliability and validity of screening questions, and the
                                                        range of risk and strengths identified in Early Head Start
                                                        families served.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#home-visits" role="button"
                                            aria-expanded="false" aria-controls="home-visits">
                                            <h4>
                                                Home Visiting
                                            </h4>
                                        </a>
                                        <div class="collapse" id="home-visits">
                                            <ul>
                                                <li>
                                                    <p class="h6">
                                                        McKelvey, LM, Fitzgerald, S. Family functioning and involvement
                                                        in
                                                        home
                                                        visiting:
                                                        Examining program characteristics as moderators to support
                                                        retention
                                                        in
                                                        services. Infant
                                                        Ment Health J. 2020; 41: 220– 231. <a
                                                            href=" https://doi.org/10.1002/imhj.21842">Link</a>
                                                    </p>
                                                    <p class="ml-3">Developing strategies to improve retention in home
                                                        visiting programs is critical to their success. The purpose of
                                                        the study is to examine how the content provided during home
                                                        visits moderates the association between family risks (economic,
                                                        household functioning, and conflict) and retention in services.
                                                        Family characteristics were collected using the Family Map
                                                        Inventories. Families were more likely to stay in services when
                                                        home visitors focused on parent–child interaction and child
                                                        development, but less likely retained with more case management.
                                                        Parents with greater risks were more likely to remain in
                                                        services with more time focused on supporting parent–child
                                                        interactions. Findings suggest the need to support our home
                                                        visiting workforce in their work to promote healthy parent–child
                                                        relationships.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Kyzer, A., Whiteside-Mansell, L., McKelvey, L., &amp; Swindle,
                                                        T.
                                                        (2016). 
                                                        Supporting family
                                                        engagement in home visiting with the Family Map Inventories.
                                                        Infants
                                                        &amp;
                                                        Young Children,
                                                        29(1), 37-52. doi: 10.1097/IYC.0000000000000051
                                                    </p>
                                                    <p class="ml-3">
                                                        The purpose of this study was to examine the feasibility and
                                                        usefulness of a universal screening tool, the Family Map
                                                        Inventory (FMI), to assess family strengths and needs in a home
                                                        visiting program. The study found the FMI provided home visiting
                                                        coordinators a system to measure family strengths and needs.
                                                        This could prove an assessment of program effectiveness and
                                                        changes in the family environment.
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#head-start" role="button" aria-expanded="false"
                                            aria-controls="head-start">
                                            <h4>
                                                Head Start Programs
                                            </h4>
                                        </a>
                                        <div class="collapse" id="head-start">
                                            <ul>
                                                <li>
                                                    <p>Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey, L.,
                                                        Burrow,
                                                        N.,
                                                        &amp; Swindle, T.
                                                        (2013).  Using the Family Map: Supporting Family Engagement with
                                                        Parents
                                                        of Infants
                                                        and Toddlers.  Special Issue on Parent Involvement and
                                                        Engagement in
                                                        Head Start for
                                                        Dialog: The Research-to-Practice Journal for the Early Childhood
                                                        Field,
                                                        16 (1), 20-44. <a
                                                            href="https://journals.uncc.edu/dialog/article/view/42/100.">Link</a>
                                                    </p>
                                                    <p class="ml-3">Engaging families of preschool children in
                                                        partnerships with early childcare providers includes, among
                                                        other activities, engaging in meaningful conversation, linking
                                                        parents to needed services, and supporting parents as the
                                                        capitalize on family protective factors. This study provides
                                                        evidence of the feasibility of implementation of the Family Map,
                                                        the reliability and validity of screening questions, and the
                                                        range of risk and strengths identified in Early Head Start
                                                        families served. </p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Whiteside-Mansell, L., Johnson, D., Aitken, M. E., Bokony, P.
                                                        A.,
                                                        Conners-Burrow, N.A , &amp;
                                                        McKelvey, L. (2010). Head Start and Unintended Injury: The Use
                                                        of
                                                        the
                                                        Family
                                                        Map
                                                        Interview to Document Risk. Early Childhood Education
                                                        Journal,38,
                                                        33-41.
                                                    </p>
                                                    <p class="ml-3">
                                                        Many preschool children experience preventable
                                                        injuries—particularly children living in poverty. This study
                                                        examined the use of the Family Map to identify children at risk
                                                        for unintended injury in two large Head Start programs during
                                                        home visits. Study results indicated that many preschool
                                                        children from low-income backgrounds were at risk for a variety
                                                        of risks related to unintentional injury. Further, in some areas
                                                        Head Start families increased their safety related parenting
                                                        behaviors by the second assessment. This study demonstrated
                                                        that, beyond the use of the tool to identify families in need of
                                                        intervention services, it can be used by childcare providers to
                                                        effectively monitor family need and for program self-assessment.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">Whiteside-Mansell, L., Bradley, R.H., Conners, N. A.,
                                                        &amp; Bokony,
                                                        P.
                                                        A.
                                                        (2007). The Family
                                                        Map: Structured interview to identify risks and strengths in
                                                        head
                                                        start
                                                        families. NHSA
                                                        Dialog: A Research-to-Practice Journal for the Early
                                                        Intervention
                                                        Field,
                                                        10,
                                                        189-209.</p>

                                                    <p class="ml-3">The Family Map is a semi-structured interview
                                                        developed to assess important aspects of the family and home
                                                        environment associated with well-being in 3- to 5-year old
                                                        children. The Family Map systematically identifies areas of
                                                        concern and strength so that providers can design interventions
                                                        to reduce risk factors (e.g., food insecurity, physical safety
                                                        issues, family conflict, harsh parenting practices, parental
                                                        depression) or enhance factors associated with healthy
                                                        development (e.g., availability of learning materials in the
                                                        home, good monitoring and supervision, or home safety). The
                                                        areas assessed by the Family Map are targeted by Head Start
                                                        performance standards. The Family Map has been successfully
                                                        implemented in Head Start agencies and is also being adopted in
                                                        non-Head Start early childcare settings.</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#monitoring" role="button" aria-expanded="false"
                                            aria-controls="monitoring">
                                            <h4>
                                                Program Monitoring &amp; Outcome Measurement
                                            </h4>
                                        </a>
                                        <div class="collapse" id="monitoring">
                                            <ul>
                                                <li>
                                                    <p class="h6">Whiteside-Mansell, L., Johnson, D., Aitken, M. E.,
                                                        Bokony, P. A.,
                                                        Conners-Burrow, N.A , &amp;
                                                        McKelvey, L. (2010). Head Start and Unintended Injury: The Use
                                                        of
                                                        the
                                                        Family Map
                                                        Interview to Document Risk. Early Childhood Education
                                                        Journal,38,
                                                        33-41.
                                                    </p>
                                                    <p class="ml-3">Many preschool children experience preventable
                                                        injuries—particularly children living in poverty. This study
                                                        examined the use of the Family Map to identify children at risk
                                                        for unintended injury in two large Head Start programs during
                                                        home visits. Study results indicated that many preschool
                                                        children from low-income backgrounds were at risk for a variety
                                                        of risks related to unintentional injury. Further, in some areas
                                                        Head Start families increased their safety related parenting
                                                        behaviors by the second assessment. This study demonstrated
                                                        that, beyond the use of the tool to identify families in need of
                                                        intervention services, it can be used by childcare providers to
                                                        effectively monitor family need and for program self-assessment.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        McKelvey, L., Whiteside-Mansell, L., Fitzgerald, S., Fitts, S.,
                                                        Burrnett,
                                                        C., Greenwood, T.,
                                                        Pillow-Price, K. (March, 2015). Examining Intervention Effects:
                                                        Changes
                                                        in
                                                        Risks and
                                                        Strengths in the Home Literacy Environment of Arkansas HIPPY
                                                        Families.
                                                        Paper
                                                        presented at the Society for Research on Child Development
                                                        Biennial
                                                        Meeting,
                                                        Philadelphia, PA.
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        McKelvey, L.M., Whiteside-Mansell, L., Conners-Burrow, N.A.,
                                                        Swindle,
                                                        T.,
                                                        &amp; Bokony,
                                                        P.A. (2014, July). Risks and Strengths in the Home Environment
                                                        of
                                                        Expectant
                                                        Families in
                                                        Home Visiting Programs. Poster presented to the Head Start
                                                        Research
                                                        Conference,
                                                        Washington D.C.
                                                    </p>
                                                    <p class="ml-3">The Family Map is currently being used by the AR
                                                        Maternal, Infant, and Early Childhood Home Visiting program
                                                        (MIECHV) statewide evaluation. Preliminary indicate that the
                                                        Family Map is useful in supporting intervention activities and
                                                        evaluating outcomes.</p>
                                                </li>
                                                <li>
                                                    <p class="h6">
                                                        Kyzer, A., Whiteside-Mansell, L., McKelvey, L., &amp; Swindle,
                                                        T.
                                                        (2016). 
                                                        Supporting family
                                                        engagement in home visiting with the Family Map Inventories.
                                                        Infants
                                                        &amp;
                                                        Young Children,
                                                        29(1), 37-52. doi: 10.1097/IYC.0000000000000051
                                                    </p>
                                                    <p class="ml-3">
                                                        The purpose of this study was to examine the feasibility and
                                                        usefulness of a universal screening tool, the Family Map
                                                        Inventory (FMI), to assess family strengths and needs in a home
                                                        visiting program. The study found the FMI provided home visiting
                                                        coordinators a system to measure family strengths and needs.
                                                        This could prove an assessment of program effectiveness and
                                                        changes in the family environment.
                                                    </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </main>

                <!-- Sidebar -->
                <!-- <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                    <div class="row">
                        <div class="col-12 align-self-center text-left">
                            <div class="item widget-services">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#reliability" role="button"
                                            aria-expanded="false" aria-controls="reliability">
                                            <i class="icon icon-badge"></i>
                                            <h5>Reliability &amp; Validity</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#adverse" role="button" aria-expanded="false"
                                            aria-controls="adverse">
                                            <i class="icon icon-briefcase"></i>
                                            <h5>Adverse Childhood Experiences</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#family-engagement" role="button"
                                            aria-expanded="false" aria-controls="family-engagement">
                                            <i class="icon icon-trophy"></i>
                                            <h5>Family Engagement</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#home-visits" role="button"
                                            aria-expanded="false" aria-controls="home-visits">
                                            <i class="icon icon-home"></i>
                                            <h5>Home Visiting</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#head-start" role="button" aria-expanded="false"
                                            aria-controls="head-start">
                                            <i class="icon icon-organization"></i>
                                            <h5>Head Start Program</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#monitoring" role="button" aria-expanded="false"
                                            aria-controls="monitoring">
                                            <i class="icon icon-pie-chart"></i>
                                            <h5>Monitoring & Measurement</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside> -->
            </div>
        </div>
    </section>

    <%- include('footer'); %>