<%- include('header'); %>
    <!-- Hero -->
    <section id="slider" class="hero p-0 odd featured">
        <div class="swiper-container no-slider slider-h-75">
            <div class="swiper-wrapper">

                <!-- Item 1 -->
                <div class="swiper-slide slide-center">

                    <img src="assets/images/GettyImages-1092432244.jpg" class="full-image" data-mask="70">

                    <div class="slide-content row text-center">
                        <div class="col-12 mx-auto inner">
                            <h1 data-aos="zoom-out-up" data-aos-delay="400" class="title effect-static-text">Resources
                            </h1>
                            <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Resources</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content -->
    <section id="content" class="section-1 single">
        <div class="container">
            <div class="row">
                <!-- Main -->
                <main class="col-12 col-lg-8 p-0">
                    <div class="row">
                        <div class="col-12 align-self-center">
                            <h2 class="featured mt-0 ml-0">Research Article Categories &amp;
                                Associated Articles</h2>
                        </div>
                        <ul style="list-style-type:none;">
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#downloadable" role="button"
                                            aria-expanded="false" aria-controls="downloadable">
                                            <h4>
                                                Downloadable Resources
                                            </h4>
                                        </a>
                                        <div class="collapse" id="downloadable">
                                            <ul>
                                                <li>
                                                    <a href="https://drive.google.com/file/d/1-DHgIBSc_kNmPdAOt5qN1mkXdajwsoib/view?usp=sharing"
                                                        class="nav-link">
                                                        The Family Map and Headstart
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#reliability" role="button"
                                            aria-expanded="false" aria-controls="reliability">
                                            <h4>
                                                Reliability &amp; Validity
                                            </h4>
                                        </a>
                                        <div class="collapse" id="reliability">
                                            <ul>
                                                <li>
                                                    <p>Swindle, T. Whiteside-Mansell, L., McKelvey, L. (2012). Food
                                                        Insecurity: 
                                                        Validation of a
                                                        two-item screen using convergent risks. Journal of Child and
                                                        Family
                                                        Studies. 22 (7), 932-
                                                        941. doi:10.1007/s10826-012-9652-7</p>
                                                </li>
                                                <li>
                                                    Bokony, P.A., Conners-Burrow, N.A., Johnson, D., Whiteside-Mansell,
                                                    L.,
                                                    McKelvey, L., &amp;
                                                    Bradley, R.H. (2010). The Family Map: A tool for understanding the
                                                    risks
                                                    for
                                                    children in
                                                    families with substance abuse. NHSA Dialog: A Research-to-Practice
                                                    Journal
                                                    for the Early
                                                    Intervention Field.
                                                </li>
                                                <li>
                                                    Conners-Burrow, N.A , Johnson, D., Whiteside-Mansell, L, McKelvey,
                                                    L.,
                                                    Bokony, P. A., &amp;
                                                    Bradley, R. H. (2010). Protecting Young Children: Identifying Family
                                                    Substance Use and
                                                    Risks in the Home. NHSA Dialog: A Research-to-Practice Journal for
                                                    the
                                                    Early
                                                    Intervention Field, 13, 192-197.
                                                </li>
                                                <li>
                                                    Conners-Burrow, N.A., Fussell, J., Johnson, D.L., McKelvey, L.,
                                                    Whiteside-Mansell, L.,
                                                    Bokony, P., Kraleti, S. (2013) Maternal Low and High Depressive
                                                    Symptoms
                                                    and
                                                    Safety
                                                    Concerns for Low Income Preschool Children. Clinical Pediatrics, 52,
                                                    171-177.
                                                </li>
                                                <li>
                                                    Swindle, T., Ward, W. L., Whiteside-Mansell, L., Brathwaite, J.,
                                                    Bokony,
                                                    P.A., Conners-
                                                    Burrow, N, &amp; McKelvey, L.M. (2014). Pediatric nutrition:
                                                    Parenting
                                                    impacts beyond
                                                    financial resources. Clinical Pediatrics, 53, 793-795. doi
                                                    10.1177/0009922813505904.
                                                </li>
                                                <li>
                                                    Ward, W. L., Swindle, T., Kyzer, A., Whiteside-Mansell, L. (2014).
                                                    Low
                                                    Fruit/Vegetable
                                                    Consumption in the Home: Cumulative Risk Factors in Early Childhood.
                                                    Early
                                                    Childhood
                                                    Education Journal. Advance online publication. doi:
                                                    10.1007/s10643-014-0661-6
                                                </li>
                                                <li>
                                                    <p>Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey, L.,
                                                        Burrow,
                                                        N.,
                                                        &amp;
                                                        Swindle, T.
                                                        (2013).  Using the Family Map: Supporting Family Engagement with
                                                        Parents
                                                        of
                                                        Infants
                                                        and Toddlers.  Special Issue on Parent Involvement and
                                                        Engagement in
                                                        Head Start
                                                        for
                                                        Dialog: The Research-to-Practice Journal for the Early Childhood
                                                        Field,
                                                        16 (1),
                                                        20-44. <a
                                                            href="https://journals.uncc.edu/dialog/article/view/42/100"
                                                            class="nav-link" target="_blank">Link</a>
                                                    </p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#adverse" role="button" aria-expanded="false"
                                            aria-controls="adverse">
                                            <h4>
                                                Adverse Childhood Experiences
                                            </h4>
                                        </a>
                                        <div class="collapse" id="adverse">
                                            <ul>
                                                <li>Whiteside-Mansell, L.; McKelvey, L.; Saccente, J.; Selig, J.P.
                                                    Adverse
                                                    Childhood Experiences of
                                                    Urban and Rural Preschool Children in Poverty. Int. J. Environ. Res.
                                                    Public
                                                    Health 2019, 16, 2623.</li>
                                                <li>McKelvey, L. M., Conners Edge, N.A., Fitzgerald, S., Kraleti, S.,
                                                    &amp;
                                                    Whiteside-Mansell, L.,
                                                    (2017, December). Adverse Childhood Experiences: Screening and
                                                    Health in
                                                    Children
                                                    from Birth to Age Five. Families, Systems, and Health, 35 (4),
                                                    420-429.
                                                    DOI:
                                                    10.1037/fsh0000301</li>
                                                <li>McKelvey, L., Whiteside-Mansell, L., Conners-Burrow, N. A., Swindle,
                                                    T.,
                                                    Fitzgerald, S.
                                                    (2016). Assessing Adverse Experiences from Infancy through Early
                                                    Childhood
                                                    in Home
                                                    Visiting Programs. Child Abuse &amp; Neglect.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#family-engagement" role="button"
                                            aria-expanded="false" aria-controls="family-engagement">
                                            <h4>
                                                Family Engagement
                                            </h4>
                                        </a>
                                        <div class="collapse" id="family-engagement">
                                            <ul>
                                                <li>
                                                    <p>McKelvey, L.M., Bokony, P., Johnson, D., Whiteside-Mansell, L.,
                                                        Burrow,
                                                        N., &amp; Swindle, T.
                                                        (2013).  Family Engagement: Establishing a System to Support the
                                                        Parent-Teacher
                                                        Partnership.  The Special Issue on Parent Involvement/Engagement
                                                        in
                                                        Early Childhood
                                                        Education for NHSA Dialog: A Research-to-Practice Journal for
                                                        the
                                                        Early
                                                        Intervention
                                                        Field, 16 (1), 171-175.</p>
                                                </li>
                                                <li>
                                                    Bokony, P.A., Whiteside-Mansell, L., Swindle, T., &amp; Waliski,
                                                    A.D.
                                                    (2013).  Increasing
                                                    parent-teacher communication in private preschools serving
                                                    low-income
                                                    families.  The
                                                    Special Issue on Parent Involvement and Engagement in Head Start for
                                                    Dialog:
                                                    The
                                                    Research-to-Practice Journal for the Early Childhood Field, 16 (1),
                                                    45-64.
                                                    <a href="https://journals.uncc.edu/dialog/article/view/43">Link</a>
                                                </li>
                                                <li>
                                                    Bokony, P.A., Whiteside-Mansell, L., &amp; Swindle, T.  (2013). 
                                                    Family
                                                    Map
                                                    Inventory and
                                                    TIPS for Great Kids!: Tools for increasing parent-teacher
                                                    communication. 
                                                    The Special
                                                    Issue on Parent Involvement and Engagement in Head Start for Dialog:
                                                    The
                                                    Research-to-
                                                    Practice Journal for the Early Childhood Field, 16 (1), 183-188. <a
                                                        href="https://journals.uncc.edu/dialog/article/view/51/119">Link</a>
                                                </li>
                                                <li>
                                                    Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey, L.,
                                                    Burrow,
                                                    N.,
                                                    &amp; Swindle, T.
                                                    (2013).  Using the Family Map: Supporting Family Engagement with
                                                    Parents
                                                    of
                                                    Infants

                                                    and Toddlers.  Special Issue on Parent Involvement and Engagement in
                                                    Head
                                                    Start for
                                                    Dialog: The Research-to-Practice Journal for the Early Childhood
                                                    Field,
                                                    16
                                                    (1), 20-44. <a
                                                        href="https://journals.uncc.edu/dialog/article/view/42/100.">Link</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#home-visits" role="button"
                                            aria-expanded="false" aria-controls="home-visits">
                                            <h4>
                                                Home Visiting
                                            </h4>
                                        </a>
                                        <div class="collapse" id="home-visits">
                                            <ul>
                                                <li>
                                                    McKelvey, LM, Fitzgerald, S. Family functioning and involvement in
                                                    home
                                                    visiting:
                                                    Examining program characteristics as moderators to support retention
                                                    in
                                                    services. Infant
                                                    Ment Health J. 2020; 41: 220– 231. <a
                                                        href=" https://doi.org/10.1002/imhj.21842">Link</a>
                                                </li>
                                                <li>
                                                    Kyzer, A., Whiteside-Mansell, L., McKelvey, L., &amp; Swindle, T.
                                                    (2016). 
                                                    Supporting family
                                                    engagement in home visiting with the Family Map Inventories. Infants
                                                    &amp;
                                                    Young Children,
                                                    29(1), 37-52. doi: 10.1097/IYC.0000000000000051
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#head-start" role="button" aria-expanded="false"
                                            aria-controls="head-start">
                                            <h4>
                                                Head Start Programs
                                            </h4>
                                        </a>
                                        <div class="collapse" id="head-start">
                                            <ul>
                                                <li>
                                                    <p>Whiteside-Mansell, L., Johnson, D., Bokony, P., McKelvey, L.,
                                                        Burrow,
                                                        N.,
                                                        &amp; Swindle, T.
                                                        (2013).  Using the Family Map: Supporting Family Engagement with
                                                        Parents
                                                        of Infants
                                                        and Toddlers.  Special Issue on Parent Involvement and
                                                        Engagement in
                                                        Head Start for
                                                        Dialog: The Research-to-Practice Journal for the Early Childhood
                                                        Field,
                                                        16 (1), 20-44. <a
                                                            href="https://journals.uncc.edu/dialog/article/view/42/100.">Link</a>
                                                    </p>
                                                </li>
                                                <li>
                                                    Whiteside-Mansell, L., Johnson, D., Aitken, M. E., Bokony, P. A.,
                                                    Conners-Burrow, N.A , &amp;
                                                    McKelvey, L. (2010). Head Start and Unintended Injury: The Use of
                                                    the
                                                    Family
                                                    Map
                                                    Interview to Document Risk. Early Childhood Education Journal,38,
                                                    33-41.
                                                </li>
                                                <li>
                                                    Whiteside-Mansell, L., Bradley, R.H., Conners, N. A., &amp; Bokony,
                                                    P.
                                                    A.
                                                    (2007). The Family
                                                    Map: Structured interview to identify risks and strengths in head
                                                    start
                                                    families. NHSA
                                                    Dialog: A Research-to-Practice Journal for the Early Intervention
                                                    Field,
                                                    10,
                                                    189-209.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-12 align-self-center">
                                        <a data-toggle="collapse" href="#monitoring" role="button" aria-expanded="false"
                                            aria-controls="monitoring">
                                            <h4>
                                                Program Monitoring &amp; Outcome Measurement
                                            </h4>
                                        </a>
                                        <div class="collapse" id="monitoring">
                                            <ul>
                                                <li>
                                                    <p>Whiteside-Mansell, L., Johnson, D., Aitken, M. E., Bokony, P. A.,
                                                        Conners-Burrow, N.A , &amp;
                                                        McKelvey, L. (2010). Head Start and Unintended Injury: The Use
                                                        of
                                                        the
                                                        Family Map
                                                        Interview to Document Risk. Early Childhood Education
                                                        Journal,38,
                                                        33-41.
                                                    </p>
                                                </li>
                                                <li>
                                                    McKelvey, L., Whiteside-Mansell, L., Fitzgerald, S., Fitts, S.,
                                                    Burrnett,
                                                    C., Greenwood, T.,
                                                    Pillow-Price, K. (March, 2015). Examining Intervention Effects:
                                                    Changes
                                                    in
                                                    Risks and
                                                    Strengths in the Home Literacy Environment of Arkansas HIPPY
                                                    Families.
                                                    Paper
                                                    presented at the Society for Research on Child Development Biennial
                                                    Meeting,
                                                    Philadelphia, PA.
                                                </li>
                                                <li>
                                                    McKelvey, L.M., Whiteside-Mansell, L., Conners-Burrow, N.A.,
                                                    Swindle,
                                                    T.,
                                                    &amp; Bokony,
                                                    P.A. (2014, July). Risks and Strengths in the Home Environment of
                                                    Expectant
                                                    Families in
                                                    Home Visiting Programs. Poster presented to the Head Start Research
                                                    Conference,
                                                    Washington D.C.
                                                </li>
                                                <li>
                                                    Kyzer, A., Whiteside-Mansell, L., McKelvey, L., &amp; Swindle, T.
                                                    (2016). 
                                                    Supporting family
                                                    engagement in home visiting with the Family Map Inventories. Infants
                                                    &amp;
                                                    Young Children,
                                                    29(1), 37-52. doi: 10.1097/IYC.0000000000000051
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </main>

                <!-- Sidebar -->
                <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">
                    <div class="row">
                        <div class="col-12 align-self-center text-left">

                            <!-- Widget [services] -->
                            <div class="item widget-services">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#reliability" role="button"
                                            aria-expanded="false" aria-controls="reliability">
                                            <i class="icon icon-badge"></i>
                                            <h5>Reliability &amp; Validity</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#adverse" role="button" aria-expanded="false"
                                            aria-controls="adverse">
                                            <i class="icon icon-briefcase"></i>
                                            <h5>Adverse Childhood Experiences</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#family-engagement" role="button"
                                            aria-expanded="false" aria-controls="family-engagement">
                                            <i class="icon icon-trophy"></i>
                                            <h5>Family Engagement</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#home-visits" role="button"
                                            aria-expanded="false" aria-controls="home-visits">
                                            <i class="icon icon-home"></i>
                                            <h5>Home Visiting</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#head-start" role="button" aria-expanded="false"
                                            aria-controls="head-start">
                                            <i class="icon icon-organization"></i>
                                            <h5>Head Start Program</h5>
                                        </a>
                                    </li>
                                    <li class="list-group-item">
                                        <a data-toggle="collapse" href="#monitoring" role="button" aria-expanded="false"
                                            aria-controls="monitoring">
                                            <i class="icon icon-pie-chart"></i>
                                            <h5>Monitoring & Measurement</h5>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <%- include('footer'); %>